{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
  {% for product in section.settings.collection.products %}
    {% render 'productElement', id: product.id, image: product.images[0], title: product.title, discription: product.discription, price: product.price %}
  {% endfor %}
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[
      {
        "id":"collection",
        "type":"collection",
        "label":"Chose Collection"
      }
    ],
    "blocks":[
    ]
  }
  {% endschema %}