{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
  <p>{{ collection }}</p>
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[
      {
        "id":"collection",
        "type":"collection",
        "label":"Chose Collection"
      }
    ],
    "blocks":[
    ]
  }
  {% endschema %}