{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
  <p>{{ collection.all_products_count }}</p>
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[
    ],
    "blocks":[
    ]
  }
  {% endschema %}