{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
  <h1>123</h1>
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[

    ],
    "blocks":[

    ]
  }
  {% endschema %}