{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
    {%- for product in collection.products -%}
      <p>{{ product.title }}</p>
    {%- endfor -%}
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[

    ],
    "blocks":[

    ]
  }
  {% endschema %}