{{ 'collection.css' | asset_url | stylesheet_tag }}

<div class="collection--container" >
    {%- for product in section.settings.collection -%}
      <p>1</p>
      <p>{{ product.title }}</p>
    {%- endfor -%}
</div>

  {% schema %}
  {
    "name": "Collection",
    "tag": "section",
    "settings":[
      {
        "id":"collection",
        "type":"collection",
        "label":"Chose Collection"
      }
    ],
    "blocks":[
    ]
  }
  {% endschema %}