{{ 'footer.css' | asset_url | stylesheet_tag }}

<div class="footer--container">
  123
  <h1>{{ section.settings.title }}</h1>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Contact"
    }
  ],
  "blocks": [

  ]
}
{% endschema %}
