{{ 'header.css' | asset_url | stylesheet_tag }}


<div class="header--container">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'logo' %}
        {{ block.settings.image | image_url: width: 2048 | image_tag }}
    {% endcase %}
  {% endfor %}
  <nav>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'navbar' %}
          <div class="nav--element">{{ block.settings.navEl }}</div>
      {% endcase %}
    {% endfor %}
  </nav>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "blocks": [
    {
      "name": "Navbar element",
      "type": "navbar",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "navEl",
          "label": "Navbar element"
        }
      ]
    },
    {
      "name": "Logo image",
      "type": "logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}
