{{ 'header.css' | asset_url | stylesheet_tag }}


<div class="header--container">
  <h1>{{ section.name }}</h1>
  <ul>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'navbar' %}
          <li>{{ block.settings.navEl }}</li>
      {% endcase %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "blocks": [
    {
      "name": "Navbar element 1",
      "type": "navbar",
      "settings": [
        {
          "type": "text",
          "id": "navEl",
          "label": "navEl",
          "default": "Mission"
        }
      ]
    }
  ]
}
{% endschema %}
