{{ 'header.css' | asset_url | stylesheet_tag }}


<div class="header--container">
  <img src="{{ 'logo.png' | file_img_url: '2048x2048' }}" alt="logo">
  <nav>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'navbar' %}
          <div class="nav--element">{{ block.settings.navEl }}</div>
      {% endcase %}
    {% endfor %}
  </nav>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "blocks": [
    {
      "name": "Navbar element 1",
      "type": "navbar",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "navEl",
          "label": "navEl",
          "default": "Mission"
        }
      ]
    }
  ]
}
{% endschema %}
