{{ 'home.css' | asset_url | stylesheet_tag }}


<div class="home--container" style="background: url() 50% 50%/cover no-repeat">
<h1>123123</h1>
</div>

{% schema %}
{
  "name": "Home",
  "tag": "section"
}
{% endschema %}
