<div class="team--container" id="{{ section.settings.title }}">
    <h1>Search</h1>
    <form style="display: flex" onsubmit="SearchSubmit(this)">
        <input type="text" name="terms" placeholder="Search">
        <select name="category">
            {% for collection in section.settings.collections %}
                <option value="{{ collection.title }}">{{ collection.title }}</option>
            {% endfor %}
        </select>
        <button>Search</button>
    </form>
    <script>
        function SearchSubmit(e){
            e.preventDefault();
            console.log(e);
        }
    </script>
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Search"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Search section"
    }
  ],
  "blocks":[]
}
{% endschema %}