<div class="team--container" id="{{ section.settings.title }}">
    <h1>Search</h1>
    <form style="display: flex" id="SearchSubmit">
        <input type="text" name="terms" placeholder="Search">
        <select name="category">
            {% for collection in section.settings.collections %}
                <option selected value="{{ collection.title }}">{{ collection.title }}</option>
            {% endfor %}
        </select>
        <button>Search</button>
    </form>
    <script>
        document.querySelector("#SearchSubmit").addEventListener('submit', SearchSubmit);
        function SearchSubmit(e){
            e.preventDefault();
            let form = new FormData(e.target);
            if (!form.get("terms")) return;
            location.href = `/search/suggest?q=${form.get("terms")}&section_id=predictive-search&resources[type]=product&categ=${form.get("category")}`;
        }
    </script>
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Search"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Search section"
    }
  ],
  "blocks":[]
}
{% endschema %}