<div class="team--container" id="{{ section.settings.title }}">
    <h1>Search</h1>
    <form style="display: flex">
        <input type="text" name="terms" placeholder="Search">
        <select name="category">
            {% for collection in section.settings.collections %}
                {% if collection.handle contains currentCol %}
                    <option value="{{ collection.title }}">{{ collection.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
</div>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Title section",
      "default": "Search"
    },
    {
      "type": "collection",
      "id": "collections",
      "label": "Search section"
    }
  ],
  "blocks":[]
}
{% endschema %}