<div class="team--container" id="{{ section.settings.title }}">
    <h1>{{ section.settings.title }}</h1>
    <form style="display: flex">
        <input type="text" name="terms" placeholder="Search">
        <select name="category">
            {% for category in page.categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
    </form>
</div>