header{
    width: 100vw;
    position: absolute;
    top: 0;
    font-size: 18px;
    font-family: "Sofia Pro", sans-serif;
    font-weight: 400;
}

.header--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 15%;
}

nav{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.nav--element{
    color: rgba(11, 13, 33, 1);
    cursor: pointer;
}

.nav--element:hover{
    color: rgba(249, 208, 35, 1);
}