.team--container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 15%;
    font-size: 90px;
}

.team--container h1{
    font-size: 1em;
    text-align: left;
    font-family: "Alata", sans-serif;
    font-weight: 400;
}

.team--container h1::after {
    content: "";
    display: block;
    width: 100px;
    padding-top: 48px;
    border-bottom: 6px solid rgba(249, 208, 35, 1);
}

.cv--container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 56px;
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 32px 64px;
    max-width: 500px;
    box-shadow: 0 0 40px 0 rgba(0, 13, 129, 0.08);
    border-radius: 0 0 0 64px;
    min-height: 900px;
}

.cv .human{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px !important;
    height: 200px !important;
    border-radius: 0 0 0 64px;
}


.cv .name--and--position{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cv .meet{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Sofia Pro", sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 0.152em;
    color: rgba(249, 208, 35, 1);
    margin-bottom: 48px;
}

.cv .arrow{
    margin-left: 10px;
}

.cv .arrowAdaptive{
    display: none;
    margin-left: 10px;
}

.cv .firstInformation--container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cv h2{
    font-family: "Sofia Pro", sans-serif;
    font-weight: 700;
    line-height: 48px;
    font-size: 0.445em;
    margin-bottom: 16px;
}

.cv h3{
    font-family: "Sofia Pro", sans-serif;
    font-weight: 700;
    line-height: 32px;
    font-size: 0.267em;
    margin-bottom: 16px;
}

.cv .position{
    font-family: "Sofia Pro", sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 0.152em;
    margin-bottom: 40px;
}

.cv .about{
    font-family: "Sofia Pro", sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 0.172em;
    margin-bottom: 66px;
}

.cv .history{
    margin-bottom: 56px;
}

.cv ul{
    font-size: 1em;
    list-style-type: none;
    color: black;
}

.cv li{
    font-family: "Sofia Pro", sans-serif;
    font-size: 0.156em;
    font-weight: 400;
    line-height: 18px;
}

.cv li:before {
    color: rgba(249, 208, 35, 1);
    content: "▪";
    padding-right: 10px;
}

.cv .social{
    height: 24px !important;
}

.cv .social{
    align-self: flex-end;
}


@media (max-width: 1300px) {
    .cv--container{
        flex-direction: column;
        align-items: center;
    }

    .cv{
        margin-bottom: 32px;
        min-height: auto;
    }

    .cv:last-child{
        margin-bottom: 0;
    }

}

@media (max-width: 850px) {
    .cv .meet{
        margin-bottom: 24px;
        font-size: 0.225em;
    }

    .cv .about{
        font-size: 0.235em;
    }
    .cv .position{
        font-size: 0.2em;
    }
    .cv ul{
        font-size: 1.5em;
    }
    .cv h2{
        line-height: 28px;
        font-size: 0.37em;
        margin-bottom: 8px;
    }

    .team--container{font-size: 60px}

    .cv .human{
        width: 170px !important;
        height: 170px !important;
    }

    .cv .arrow{display: none}
    .cv .arrowAdaptive{display: flex}

    .cv .social{margin-top: 20px}
}

@media (max-width: 500px) {
    .team--container{
        font-size: 40px !important;
        padding: 56px 15px;
    }
    .team--container h1::after {
        width: 70px;
        padding-top: 32px;
        border-bottom: 4px solid rgba(249, 208, 35, 1);
    }

    .cv{
        padding: 16px 24px;
    }

    .cv .human{
        width: 120px !important;
        height: 120px !important;
        border-radius: 0 0 0 48px;
    }

    .cv .meet{
        margin-bottom: 24px;
        font-size: 0.3em;
    }

    .cv .about{
        font-size: 0.35em;
    }
    .cv .position{
        font-size: 0.3em;
        margin-bottom: 32px;
    }
    .cv ul{
        font-size: 2.3em;
        padding: 8px 0;
    }
    .cv h2{
        line-height: 28px;
        font-size: 0.6em;
        margin-bottom: 8px;
    }
    .cv h3{
        font-size: 0.4em;
    }
}